# Compiled
*.elc

# Packaging
.cask
/eshell/history
/eshell/lastdir
/auto-save-list/.saves-15833-kallisti.local~
/auto-save-list/.saves-1858-one.attlocal.net~
/auto-save-list/.saves-3266-kallisti.local~
/auto-save-list/.saves-52267-kallisti.local~
/auto-save-list/.saves-5559-kallisti.local~
/auto-save-list/.saves-9359-kallisti.local~
/elpa/archives/gnu/archive-contents
/elpa/archives/gnu/archive-contents.signed
/elpa/archives/marmalade/archive-contents
/elpa/gnupg/pubring.gpg
/elpa/gnupg/pubring.gpg~
/elpa/gnupg/secring.gpg
/elpa/gnupg/trustdb.gpg
/auto-save-list/.saves-32472-one.attlocal.net~
/elpa/archives/melpa/archive-contents
/recentf
/url/cookies
/auto-save-list/.saves-3786-one.attlocal.net~
/auto-save-list/.saves-2116-one.attlocal.net~
/elpa/archives/melpa-archive/archive-contents
/auto-save-list/.saves-17041-one.attlocal.net~
